# Python
.venv/
.pythonlibs/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
/coverage

# Local secrets
.env

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
